<form method="get" action="/quizes/<%= quiz.id %>/answer">
<p> Pregunta: <%= quiz.pregunta %> </p>
  <input type="text" name="respuesta" value="Respuesta"/>
  <input type="submit" value="Enviar"<%= quiz.id %>/answer/>
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Añada nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<%for(n in quiz.Comments){%>

	<%if(quiz.Comments[n].publicado){%>
		<p>- <%=quiz.Comments[n].texto%>
			<%}else if(session.user && (session.user.isAdmin || (session.user && quiz.UserID === session.user.id))){%>
				<a href="/quizes/<%=quiz.id%>/comments/<%=quiz.Comments[n].id%>/publish"><button>Publicar</button></a>
			
		</p>
	<%}%>
<%}%>
